body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

svg path {
  fill: none;
  stroke-width: 0.045em;
  stroke: rgb(130,130,130);
}

svg circle {
  fill: rgb(77,168,248);
}